<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home</title>
</head>

<body>
    <div class="main">
        <%- include('./partials/nav.ejs') %>
        <h1>Bryophytes</h1>
        <div>
            <p>Mosses</p>
            <p>Lichens</p>
            <p>Liverworts</p>
        </div>
    </div>
</body>

</html>