<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home</title>
</head>

<body>
    <div class="main">
        <div><%- include('./partials/nav.ejs') %></div>
        <h1>Bryophytes</h1>
        <p>Bryophytes are a group of plants that include mosses, liverworts and hornworts.</p>
        <h2>Mosses</h2>
        Mosses grow just about anywhere except in the world: deserts, mountains, streams, mountains, forests and even tundras. Moss leaves are very thin, some being only 1 cell thick.
        <h2>Liverworts</h2>
        <h2>Hornworts</h2>
        

    </div>
</body>

</html>