<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home</title>
</head>

<body>
    <div class="main">
        <div><%- include('./partials/nav.ejs') %></div>
        <h1>Bryophytes</h1>
        <p>A group of plants that include mosses, liverworts and hornworts. They are believed to have evolved from ancestral green algae and are thought to comprise the earliest lineages of plants.</p>
        <h2>Mosses</h2>
        <p>Mosses grow just about anywhere except in the world: deserts, mountains, streams, mountains, forests and even tundras. Moss leaves are very thin, some being only 1 cell thick.</p>
        <h2>Liverworts</h2>
        <p>There are about 5000 Liverwort species worldwide. </p>
        <h2>Hornworts</h2>
        <p>There are about 150 of Hornwort species wordwide.</p>
        

    </div>
</body>

</html>