<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <div class="main">
      <%- include('./partials/nav') %>
      <h1>Bryophytes List</h1>
      <ul>
        <% allMoss.forEach(moss=> { %>
          <li>
            <a href="/mosses/<%= moss._id %>">
              <%= moss.commonName %>
            </a>
          </li>
          <% }) %>
      </ul>

    </div>
</body>

</html>