<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>

<body>
  <div class="main">
    <%- include('./partials/nav') %>
      <% console.log(moss) %>
        <h1>
          <%= moss.commonName %></a>
        </h1>
        <p>
          <%= moss.latinName %>
        </p>


  </div>
</body>

</html>